<section class="block container">
    <div class="block__heading">
        <h3 class="block__header">Page Header</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae ducimus harum ad suscipit id quisquam nesciunt minima adipisci omnis odio!</p>
    </div>
</section>
<section class="block block--dark block--skewed-left">
   <div class="container">
     <div class="block__heading">
         <h3 class="block__header">Page Header</h3>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae ducimus harum ad suscipit id quisquam nesciunt minima adipisci omnis odio!</p>
     </div>
   </div>
</section>