<section class="block container features-block">
    <header class="block__heading">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, mollitia.</p>
    </header>
  <article class="grid grid--1x2 feature">
      <div class="feature__content">
          <span class="icon-container">
              <svg class="icon">
                  <use xlink:href="Images/sprite.svg#quotes"></use>
              </svg>
          </span>
          <h3 class="feature__header">Super Easy to Use</h3>
          <p class="feature__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, a! Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum, alias exercitationem reiciendis fuga maiores optio tempora! Tenetur, unde laudantium?</p>
          <a href="#" class="link link--arrow">Learn more</a>
      </div>
      <div class="featured__image-container"><img class="feature__image" src="Images/easy.jpg" alt=""></div>
  </article>
  <article class="grid grid--1x2 feature">
      <div class="feature__content">
          <span class="icon-container">
              <svg class="icon">
                  <use xlink:href="Images/sprite.svg#menu"></use>
              </svg>
          </span>
          <h3 class="feature__header">Super Easy to Use</h3>
          <p class="feature__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, a! Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum, alias exercitationem reiciendis fuga maiores optio tempora! Tenetur, unde laudantium?</p>
          <a href="#" class="link link--arrow">Learn more</a>
      </div>
      <div class="featured__image-container"><img class="feature__image" src="Images/fast.jpg" alt=""></div>
  </article>
  <article class="grid grid--1x2 feature">
      <div class="feature__content">
          <span class="icon-container">
              <svg class="icon">
                  <use xlink:href="Images/sprite.svg#search"></use>
              </svg>
          </span>
          <h3 class="feature__header">Super Easy to Use</h3>
          <p class="feature__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, a! Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum, alias exercitationem reiciendis fuga maiores optio tempora! Tenetur, unde laudantium?</p>
          <a href="#" class="link link--arrow">Learn more</a>
      </div>
      <div class="featured__image-container"><img class="feature__image" src="Images/wordpress.jpg" alt=""></div>
  </article>
</section>