<footer class="grid block footer">
    <div class="footer__logo-container footer__sections">
        <img src="Images/logo.svg" alt="Moshify Logo">
        <p class="footer__tagline">Copyright 2020, Umar Zak</p>
    </div>
    <div class="collapsible footer__sections">
        <header class="collapsible__header">
            <h3 class="collapsible__heading">PRODUCTS</h3>
            <svg class="icon collapsible__icon icon--white" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 51"><defs><style>.cls-1{fill:#393939;}.cls-2{fill:#fff;}</style></defs><circle class="cls-1" cx="25.5" cy="25.5" r="25.5"/><rect class="cls-2" x="24.4" y="27.9" width="1.6" height="15.24" rx="0.8" transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"/><rect class="cls-2" x="33.3" y="27.9" width="1.6" height="15.24" rx="0.8" transform="translate(24 -21.9) rotate(37.3)"/></svg>
        </header>
        <div class="collapsible__content">
        <ul class="list">
            <li class="list__item"><a href="">Wordpress Hosting</a></li>
            <li class="list__item"><a href="">Free Automated Wordpress</a></li>
            <li class="list__item"><a href="">Migrations</a></li>
        </ul>
        </div>
    </div>
    <div class="collapsible footer__sections">
        <header class="collapsible__header">
            <h3 class="collapsible__heading">COMPANY</h3>
            <svg class="icon collapsible__icon icon--white" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 51"><defs><style>.cls-1{fill:#393939;}.cls-2{fill:#fff;}</style></defs><circle class="cls-1" cx="25.5" cy="25.5" r="25.5"/><rect class="cls-2" x="24.4" y="27.9" width="1.6" height="15.24" rx="0.8" transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"/><rect class="cls-2" x="33.3" y="27.9" width="1.6" height="15.24" rx="0.8" transform="translate(24 -21.9) rotate(37.3)"/></svg>
        </header>
        <div class="collapsible__content">
        <ul class="list">
            <li class="list__item"><a href="">About</a></li>
            <li class="list__item"><a href="">Affiliates</a></li>
            <li class="list__item"><a href="">Blog</a></li>
        </ul>
        </div>
    </div>
    <div class="collapsible footer__sections">
        <header class="collapsible__header">
            <h3 class="collapsible__heading">SUPPORT</h3>
            <svg class="icon collapsible__icon icon--white" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 51"><defs><style>.cls-1{fill:#393939;}.cls-2{fill:#fff;}</style></defs><circle class="cls-1" cx="25.5" cy="25.5" r="25.5"/><rect class="cls-2" x="24.4" y="27.9" width="1.6" height="15.24" rx="0.8" transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"/><rect class="cls-2" x="33.3" y="27.9" width="1.6" height="15.24" rx="0.8" transform="translate(24 -21.9) rotate(37.3)"/></svg>
        </header>
        <div class="collapsible__content">
        <ul class="list">
            <li class="list__item"><a href="">Contact</a></li>
            <li class="list__item"><a href="">Knowledge Base</a></li>
            <li class="list__item"><a href="">Forum</a></li>
        </ul>
        </div>
    </div>
    <div class="collapsible footer__sections">
        <header class="collapsible__header">
            <h3 class="collapsible__heading">DOMAINS</h3>
            <svg class="icon collapsible__icon icon--white" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 51"><defs><style>.cls-1{fill:#393939;}.cls-2{fill:#fff;}</style></defs><circle class="cls-1" cx="25.5" cy="25.5" r="25.5"/><rect class="cls-2" x="24.4" y="27.9" width="1.6" height="15.24" rx="0.8" transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"/><rect class="cls-2" x="33.3" y="27.9" width="1.6" height="15.24" rx="0.8" transform="translate(24 -21.9) rotate(37.3)"/></svg>
        </header>
        <div class="collapsible__content">
        <ul class="list">
            <li class="list__item"><a href="">Domain Checker</a></li>
            <li class="list__item"><a href="">Domain Transfer</a></li>
            <li class="list__item"><a href="">Free Domain</a></li>
        </ul>
        </div>
    </div>
 </footer>