<section class="block block--dark block--skewed-right control-block">
    <div class="">
        <div class="block__heading">
            <h2 class="block__header">User-friendly Control Panel</h2>
        </div>
    </div>
    <div class="grid grid--1x2 container">
        <img class="control-block__image" src="Images/ipad.png" alt="">
        <div class="control-block__content">
           <div class="media">
               <div class="media__image">
                  <svg class="icon icon--primary">
                      <use xlink:href="Images/sprite.svg#snap"></use>
                  </svg>
               </div>
               <div class="media__body">
                   <h3 class="media__title">Instant and Managed Updates</h3>
                   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero nesciunt assumenda deserunt consequuntur laboriosam eveniet id, rerum quia vel alias.</p>
               </div>
           </div>
           <div class="media">
               <div class="media__image">
                  <svg class="icon icon--primary">
                      <use xlink:href="Images/sprite.svg#snap"></use>
                  </svg>
               </div>
               <div class="media__body">
                   <h3 class="media__title">Staging, GIT and WP-CLI</h3>
                   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero nesciunt assumenda deserunt consequuntur laboriosam eveniet id, rerum quia vel alias.</p>
               </div>
           </div>
           <div class="media">
               <div class="media__image">
                  <svg class="icon icon--primary">
                      <use xlink:href="Images/sprite.svg#snap"></use>
                  </svg>
               </div>
               <div class="media__body">
                   <h3 class="media__title">Dynamic Caching & More</h3>
                   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero nesciunt assumenda deserunt consequuntur laboriosam eveniet id, rerum quia vel alias.</p>
               </div>
           </div>
        </div>
    </div>
</section>