<section class="block testimonial-block">
    <header class="block__heading">
        <h2 class="">What our Customers are Saying</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt laboriosam ea molestiae eius nulla dolore.</p>
    </header>
    <div class="container">
        <div class="card testimonial">
            <div class="grid grid--1x2">
                <div class="testimonial__image">
                    <img src="Images/testimonial.jpg" alt="A Happy, customer smiling">
                    <span class="icon-container icon-container--accent">
                     <svg class="icon icon--white icon--small">
                         <use xlink:href="Images/sprite.svg#quotes"></use>
                     </svg>
                 </span>
                 </div>
                 <blockquote class="quote">
                     <p class="quote__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus sint accusantium mollitia quasi distinctio eligendi!</p>
                    <footer>
                        <div class="media">
                            <div class="media__image quote__line">
                               <svg class="icon">
                                   <use xlink:href="Images/sprite.svg#easy"></use>
                               </svg>
                            </div>
                            <div class="media__body">
                                <h3 class="media__title quote--author">Umar Zakaria</h3>
                                <p class="quote--organization">ABC Company</p>
                            </div>
                        </div>
                    </footer>
                    </blockquote>
            </div>
        </div>
    </div>
</section>