<header>
    <nav class="nav collapsible">
        <a class="nav__brand" href="/"><img src="Images/logo.svg" alt=""></a>
        <svg class="icon icon--white nav__toggler" id="light" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m21.5 24h-19c-1.379 0-2.5-1.122-2.5-2.5v-19c0-1.378 1.121-2.5 2.5-2.5h19c1.379 0 2.5 1.122 2.5 2.5v19c0 1.378-1.121 2.5-2.5 2.5zm-19-23c-.827 0-1.5.673-1.5 1.5v19c0 .827.673 1.5 1.5 1.5h19c.827 0 1.5-.673 1.5-1.5v-19c0-.827-.673-1.5-1.5-1.5z"/></g><g><path d="m16.5 8h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z"/></g><g><path d="m16.5 12.5h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z"/></g><g><path d="m16.5 17h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z"/></g></svg>
    <ul class="list nav__list collapsible__content">
        <li  class="nav__list__item"><a href="#">Hosting</a></li>
        <li class="nav__list__item"><a href="#">VPS</a></li>
        <li class="nav__list__item"><a href="#">Domain</a></li>
        <li class="nav__list__item"><a href="#">Pricing</a></li>
    </ul>
     </nav>
   </header>

   <!-- Hero Component starts here -->
   <section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--1x2">
        <header class="block__heading hero__content">
            <h2 class="block__header hero__heading">Cloud Hosting for Pros</h2>
            <p class="hero__tagline">Deploy your websites in less than 60 seconds</p>
            <a href="#" class="btn btn--accent btn--stretched">Get Started</a>
        </header>
        <picture>
            <source type="image/webp" srcset="Images/banner.webp" />
            <source type="image/png" srcset="Images/banner.png" />
            <img class="hero__image" src="Images/banner.png" alt="">
          </picture>
    </div>
</section>
<!-- Domain Block here -->
<section class="block container domain-block">
    <header class="block__heading">
        <h2 class="domain__header">The best web hosting Starting at 19 per month</h2>
        <p class="domain__tagline">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, voluptatum?</p>
    </header>
    <div class="input-group">
        <input type="text" class="input" placeholder="Email here....">
        <button class="btn btn--accent">Search</button>
    </div>
    <ul class="list domain-block__prices">
        <li class="domain-block__list-item">.com $9.6</li>
        <li class="domain-block__list-item"><span class="badge badge--secondary">.org $7.8</span></li>
        <li class="domain-block__list-item">.space $12.7</li>
        <li class="domain-block__list-item">.info $15.9</li>
        <li class="domain-block__list-item">.net $16.5</li>
        <li class="domain-block__list-item">.xyz $16.8</li>
    </ul>
</section>

<!-- Plans Block starts here -->
<section class="block container plan-block">
    <div class="plan">
        <div class="card card--secondary">
            <header class="card__header">
                <h3 class="plan__name">Plan name</h3>
                <span class="plan__price">$16</span>
                <span class="plan__billing-cycle">/month</span>
                <span class="badge badge--secondary badge--small">30% Off</span>
                <span class="plan__description">Start on the Cloud</span>
            </header>
            <div class="card__body">
                <ul class="list list-tick">
                    <li class="list__item">Unlimited Websites</li>
                    <li class="list__item">Unlimited Bandwidth</li>
                    <li class="list__item">100 GB SSD Storage</li>
                    <li class="list__item">3 GB RAM</li>
                </ul>
                <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="plan plan--popular plan-block__popular">
        <div class="card card--primary">
            <header class="card__header">
                <h3 class="plan__name">Plan name</h3>
                <span class="plan__price">$16</span>
                <span class="plan__billing-cycle">/month</span>
                <span class="badge badge--primary badge--small">30% Off</span>
                <span class="plan__description">Start on the Cloud</span>
            </header>
            <div class="card__body">
                <ul class="list list-tick">
                    <li class="list__item">Unlimited Websites</li>
                    <li class="list__item">Unlimited Bandwidth</li>
                    <li class="list__item">100 GB SSD Storage</li>
                    <li class="list__item">3 GB RAM</li>
                </ul>
                <button class="btn btn--header btn--block">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="plan">
        <div class="card card--secondary">
            <header class="card__header">
                <h3 class="plan__name">Plan name</h3>
                <span class="plan__price">$16</span>
                <span class="plan__billing-cycle">/month</span>
                <span class="badge badge--secondary badge--small">30% Off</span>
                <span class="plan__description">Start on the Cloud</span>
            </header>
            <div class="card__body">
                <ul class="list list-tick">
                    <li class="list__item">Unlimited Websites</li>
                    <li class="list__item">Unlimited Bandwidth</li>
                    <li class="list__item">100 GB SSD Storage</li>
                    <li class="list__item">3 GB RAM</li>
                </ul>
                <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
        </div>
    </div>
 </section>

 <!--Features block starts here  -->
 <section class="block container features-block">
    <header class="block__heading">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, mollitia.</p>
    </header>
  <article class="grid grid--1x2 feature">
      <div class="feature__content">
          <span class="icon-container">
              <svg class="icon">
                  <use xlink:href="Images/sprite.svg#quotes"></use>
              </svg>
          </span>
          <h3 class="feature__header">Super Easy to Use</h3>
          <p class="feature__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, a! Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum, alias exercitationem reiciendis fuga maiores optio tempora! Tenetur, unde laudantium?</p>
          <a href="#" class="link link--arrow">Learn more</a>
      </div>
      <div class="featured__image-container"><img class="feature__image" src="Images/easy.jpg" alt=""></div>
  </article>
  <article class="grid grid--1x2 feature">
      <div class="feature__content">
          <span class="icon-container">
              <svg class="icon">
                  <use xlink:href="Images/sprite.svg#menu"></use>
              </svg>
          </span>
          <h3 class="feature__header">Super Easy to Use</h3>
          <p class="feature__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, a! Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum, alias exercitationem reiciendis fuga maiores optio tempora! Tenetur, unde laudantium?</p>
          <a href="#" class="link link--arrow">Learn more</a>
      </div>
      <div class="featured__image-container"><img class="feature__image" src="Images/fast.jpg" alt=""></div>
  </article>
  <article class="grid grid--1x2 feature">
      <div class="feature__content">
          <span class="icon-container">
              <svg class="icon">
                  <use xlink:href="Images/sprite.svg#search"></use>
              </svg>
          </span>
          <h3 class="feature__header">Super Easy to Use</h3>
          <p class="feature__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, a! Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum, alias exercitationem reiciendis fuga maiores optio tempora! Tenetur, unde laudantium?</p>
          <a href="#" class="link link--arrow">Learn more</a>
      </div>
      <div class="featured__image-container"><img class="feature__image" src="Images/wordpress.jpg" alt=""></div>
  </article>
</section>